.awesome {
  background: #fff;
  padding: 110px 0;
}

.awesome__wrapper {
  display: flex;
  flex-direction: column;
  gap: 113px;
  justify-content: center;
  align-items: center;
}

.awesome__cards {
  display: flex;
  gap: 27px;
}
.awesome__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 370px;
}
.awesome__card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  text-align: center;
  border: 1px solid #ec7979;
  border-radius: 50%;
}
.awesome__card-icon i {
  color: #ec7979;
  font-size: 60px;
}

.awesome__card-title {
  font-family: "Open Sans";
  font-size: 24px;
  margin-bottom: 6px;
}
.awesome__card-text {
  text-align: center;
}
