.awesome {
  background: #fff;
  padding: 110px 0;
}

.awesome__wrapper {
  display: flex;
  flex-direction: column;
  gap: 113px;
  justify-content: center;
  align-items: center;
}
.awesome__list {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.awesome-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 370px;
}
.awesome-card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  text-align: center;
  border: 1px solid #ec7979;
  border-radius: 50%;
}

.awesome-card__icon i {
  color: #ec7979;
  font-size: 60px;
}

.awesome-card__title {
  font-family: "Open Sans";
  font-size: 24px;
  margin-bottom: 6px;
}

.awesome-card-text {
  text-align: center;
}
