.header {
  position: sticky;
  background: #000;
  padding: 22px 0;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 50%;
}
.header__logo a {
  font-size: 31px;
}

.nav {
  width: 50%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav__item a {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
.nav__item a:hover {
  color: #ec7979;
}
.nav__item a:active {
  color: #ab4949;
}
