@import url("../css/rest.css");
@import url("../css/cdn.css");
@import url("../css/title.css");
@import url("../css/header.css");
@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/picture.css");

html {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: 18px;
  background: #000;
}

.container {
  position: relative;
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  z-index: 10;
}
.logo a {
  color: #fff;
}
.logo a::after {
  content: "IT";
  color: #ec7979;
}
