.picture {
  position: relative;
  background: url("../img/picture-bg.jpg") center center/cover no-repeat;
  padding: 70px 0;
}
.picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.picture__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.download-link {
  text-align: center;
  border: 2px solid #fff;
  transition: 0.3s ease-in-out;
}
.download-link:hover {
  border-color: #ec7979;
}
.download-link:active {
  border-color: #ab4949;
}
.download-link a {
  display: block;
  padding: 15px 130px;
  font-family: "Open sans";
  width: 100%;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.download a:hover {
  color: #ec7979;
}
.download a:active {
  color: #ab4949;
}
