.reviews {
  padding: 107px 0;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  gap: 83px;
}

.reviews__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.review-card {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 66px;
}
.review-card__text {
  position: relative;
  text-align: center;
  background: #e2e2e2;
  padding: 38px 25px;
  border-radius: 5%;
  z-index: 5;
  color: #86878b;
}
.review-card__text::before {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 15%;
  border: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
  z-index: 0;
}

.review-card__author {
  display: grid;
  grid-template-areas:
    "photo name name name"
    "photo post post post";
  column-gap: 30px;
  row-gap: 18px;
  justify-content: flex-start;
  align-items: center;
}
.review-card__author::before {
  grid-area: photo;
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-self: end;
}

[data-name="davisMadsen"]::before {
  background: url("../img/persone-davis.png") center center/cover no-repeat;
}
[data-name="cooperDorwart"]::before {
  background: url("../img/persone-cooper.png") center center/cover no-repeat;
}
[data-name="jaydonRosser"]::before {
  background: url("../img/persone-jaydon.png") center center/cover no-repeat;
}
.review-card__name {
  font-family: "Open sans";
  font-size: 24px;
  grid-area: name;
}
.review-card__position {
  grid-area: post;
}
