.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.title_theme_light {
  align-items: flex-start;
}
.title__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  gap: 40px;
  font-size: 36px;
  text-align: center;
}
.title__heading::after {
  content: "";
  display: block;
  width: 170px;
  border-bottom: 1px solid #ec7979;
}

.title__subtitle {
  color: #86878b;
  text-align: center;
}

.title_theme_light .title__heading {
  text-align: start;
  align-items: start;
  font-size: 48px;
}
.title_theme_dark .title__heading::after {
  border-color: #fff;
}

.title_theme_dark {
  color: #fff;
}
.title_theme_dark .title__subtitle {
  color: #fff;
}
